name: Build and Deploy to EKS

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set image tag
        id: vars
        run: echo "TAG=${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::200901485389:role/git-action
          aws-region: us-east-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build -t vijay_app:${TAG} ./app

      - name: Tag image for ECR
        run: |
          docker tag vijay_app:${TAG} 200901485389.dkr.ecr.us-east-1.amazonaws.com/vijay_test:${TAG}

      - name: Push image to ECR
        run: docker push 200901485389.dkr.ecr.us-east-1.amazonaws.com/vijay_test:${TAG}

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name eks-test-cluster

      - name: Update deployment manifest with new tag
        run: |
          sed -i "s|image: .*|image: 200901485389.dkr.ecr.us-east-1.amazonaws.com/vijay_test:${TAG}|" k8s/deployment.yaml

      - name: Deploy to EKS
        run: kubectl apply -f k8s/deployment.yaml

